/* CSS ANIMATION IN DETAILS */

@keyframes fadeIn {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@keyframes fade-in-move-down {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in-move-up {
  0% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in-move-right {
  0% {
    transform: translateX(-90px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-in-move-left {
  0% {
    transform: translateX(90px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-out-move-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(90px);
  }
}

@keyframes fade-out-move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-90px);
  }
}

@keyframes spin { 
  100% { 
    transform:rotate(360deg); 
  } 
}